<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>图片</title>

    <link rel="stylesheet" href="/assets/css/common/scroll.css">
    <link rel="stylesheet" href="/assets/icons/icons.css">
    <link rel="stylesheet" href="/assets/css/image-roll.css">

    <script src="/assets/js/lib/jquery-3.7.1.js"></script>
    <script src="/assets/js/lib/imagesloaded.pkgd.js"></script>
</head>
<body data-theme="light">

    <header>
        <nav>
            <div class="actor">
                <div class="logo"><a href="/"><img src="/logo.png"/></a></div>
            </div>
            <div class="user">
                <ul>
                    <li><i class="icon ri-github-fill"></i></li>
                    <li><i class="icon ri-wechat-fill"></i></li>
                    <li><i class="icon ri-user-fill"></i></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="preview">
                <button class="button prev"><i class="icon ri-arrow-left-s-line"></i></button>
                <div class="image">
                    <div class="empty"></div>
                </div>
                <button class="button next"><i class="icon ri-arrow-right-s-line"></i></button>
            </div>
            <div class="selector">
                <button class="button prev"><i class="icon ri-arrow-left-fill"></i></button>
                <nav class="nav scrollbar">

                </nav>
                <button class="button next"><i class="icon ri-arrow-right-fill"></i></button>
            </div>
        </div>
    </main>
    
</body>

<script src="/assets/js/env.js"></script>
<script src="/assets/js/tools.js"></script>
<script src="/assets/js/image-roll.js"></script>
</html>