<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Images</title>

    <link rel="stylesheet" href="/assets/css/common/scroll.css">
    <link rel="stylesheet" href="/assets/icons/icons.css">
    <link rel="stylesheet" href="/assets/css/image-wall.css">

    <script src="/assets/js/lib/jquery-3.7.1.js"></script>
    <script src="/assets/js/lib/imagesloaded.pkgd.js"></script>
</head>
<body data-theme="light">

    <div class="background"></div>

    <main>
        <nav class="nav">
            <div class="logo"><a href="/"><img src="/logo.png"/></a></div>
            <ul class="style-list" style="--icon-top:2px">
                <li class="style active" data-type="default"> <div class="item"><span>默认</span></div> </li>
                <li class="style" data-type="photo"> <div class="item"><span>照片墙</span></div> </li>
                <li class="style" data-type="love"> <div class="item"><span>爱心墙</span></div> </li>
                <li class="style" data-type="3d"> <div class="item"><span>3D墙</span></div> </li>
            </ul>
        </nav>
        <div class="container scrollbar">

        </div>
    </main>
    
</body>

<script src="/assets/js/env.js"></script>
<script src="/assets/js/image-wall.js"></script>
</html>