@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --repeat-count: 6;
  --item-width: 1fr;
  --item-heigth: 1fr;
  --item-gap: 16px;
}

@media (min-width: 475px) {
  :root {
    --repeat-count: 1;
  }
}
@media (min-width: 512px) {
  :root {
    --repeat-count: 2;
  }
}
@media (min-width: 640px) {
  :root {
    --repeat-count: 3;
  }
}
@media (min-width: 768px) {
  :root {
    --repeat-count: 4;
  }
}
@media (min-width: 1024px) {
  :root {
    --repeat-count: 5;
  }
}
@media (min-width: 1280px) {
  :root {
    --repeat-count: 6;
  }
}
@media (min-width: 1536px) {
  :root {
    --repeat-count: 7;
  }
}
@media (min-width: 1900px) {
  :root {
    --repeat-count: 8;
  }
}
@media (min-width: 2100px) {
  :root {
    --repeat-count: 9;
  }
}
@keyframes loadding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  overflow: hidden;
}
body .loadding {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  text-align: center;
  transition: all 0.5s ease;
}
body .loadding i {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-size: 36px;
  color: #60b3d4;
  animation: loadding 1s linear infinite;
}
body .background {
  position: fixed;
  inset: 0;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
body main .nav {
  width: 124px;
  display: flex;
  flex-direction: column;
}
body main .nav .logo {
  width: 100%;
  height: 120px;
}
body main .nav .logo img {
  object-fit: cover;
  width: 80%;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(5px 5px 5px #1e58c4);
}
body main .nav .style-list {
  flex: 1;
  position: relative;
}
body main .nav .style-list .style {
  position: relative;
  color: aliceblue;
  letter-spacing: 5px;
  font-size: 15px;
}
body main .nav .style-list .style.active .item span {
  color: #fff;
  background-color: #3162ff;
}
body main .nav .style-list .style.active .item span:hover {
  background-color: #4672ff;
}
body main .nav .style-list .style.active::before {
  top: 5px;
  position: absolute;
  content: "\ec69";
  transition: all 0.2s ease-in;
  color: #3162ff;
  font-family: remixicon !important;
  font-style: normal;
  transform: rotate(90deg) translateY(20px);
  font-size: 30px;
}
body main .nav .style-list .style .item {
  position: relative;
  width: 120px;
  height: 40px;
  margin-bottom: 26px;
  overflow: hidden;
}
body main .nav .style-list .style .item span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 102px;
  height: 40px;
  color: #555;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  background: #f1f5f7;
  border-radius: 32px;
  cursor: pointer;
}
body main .nav .style-list .style .item span:hover {
  background-color: #e5e6ea;
}
body main .nav .style-list .style:hover {
  cursor: pointer;
}
body main svg {
  position: absolute;
  transform: translateY(100px);
}
body main .container {
  flex: 1;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 9;
  perspective: 1000px;
  transform-style: preserve-3d;
}
@keyframes move-bubble {
  0% {
    opacity: 0.8;
    scale: 0.5;
    transform: translateY(10vh);
  }
  25% {
    opacity: 0.8;
    scale: 0.6;
    transform: translateY(-25vh);
  }
  50% {
    opacity: 0.9;
    scale: 0.7;
    transform: translateY(-50vh);
  }
  75% {
    opacity: 0.9;
    scale: 0.9;
    transform: translateY(-75vh);
  }
  100% {
    opacity: 1;
    scale: 1.1;
    transform: translateY(-100vh);
  }
}
body main .container .bubble span {
  position: absolute;
  border-radius: 50%;
  filter: blur(8px);
}
body main .container .bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
}
body main .container .bubble span:nth-child(2) {
  inset: 10px;
  border-left: 15px solid #ff3384;
}
body main .container .bubble span:nth-child(3) {
  inset: 20px;
  border-left: 15px solid #ffeb3b;
}
body main .container .bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff3384;
  filter: blur(12px);
}
body main .container .bubble span:nth-child(5) {
  inset: 10px;
  border-left: 10px solid #ffffff;
}
body main .container .bubble::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(215, 213, 94, 0.5215686275);
  filter: blur(2px);
  z-index: 100;
}
body main .container .bubble::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 85px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(172, 221, 92, 0.6784313725);
  filter: blur(2px);
  z-index: 100;
}
body main .container .star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
body main .container .rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
body main .container .circle {
  clip-path: circle(50% at 50% 50%);
}
body main .container .love {
  clip-path: polygon(25% 0, 50% 20%, 75% 0, 100% 20%, 100% 60%, 50% 95%, 0 60%, 0 20%);
}
body main .container .hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
body main .container .image-item {
  position: absolute;
  height: 200px;
  width: 200px;
  bottom: 0;
  transform: translateY(100%);
  filter: drop-shadow(3px 5px 10px rgba(74, 46, 196, 0.7490196078));
}
body main .container .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  filter: drop-shadow(3px 5px 10px rgba(74, 46, 196, 0.7490196078));
}
body main .container .image-item:hover {
  cursor: pointer;
  animation-play-state: paused;
}/*# sourceMappingURL=image-shape.css.map */