@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --repeat-count: 6;
  --item-width: 1fr;
  --item-heigth: 1fr;
  --item-gap: 16px;
}

@media (min-width: 475px) {
  :root {
    --repeat-count: 1;
  }
}
@media (min-width: 512px) {
  :root {
    --repeat-count: 2;
  }
}
@media (min-width: 640px) {
  :root {
    --repeat-count: 3;
  }
}
@media (min-width: 768px) {
  :root {
    --repeat-count: 4;
  }
}
@media (min-width: 1024px) {
  :root {
    --repeat-count: 5;
  }
}
@media (min-width: 1280px) {
  :root {
    --repeat-count: 6;
  }
}
@media (min-width: 1536px) {
  :root {
    --repeat-count: 7;
  }
}
@media (min-width: 1900px) {
  :root {
    --repeat-count: 8;
  }
}
@media (min-width: 2100px) {
  :root {
    --repeat-count: 9;
  }
}
@keyframes loadding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  display: flex;
  flex-direction: column;
}
body .loadding {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  text-align: center;
  transition: all 0.5s ease;
}
body .loadding i {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-size: 36px;
  color: #60b3d4;
  animation: loadding 1s linear infinite;
}
body .background {
  position: fixed;
  inset: 0;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
}
body header {
  background-color: rgba(98, 19, 175, 0.6588235294);
}
body header nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav .actor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav .actor .logo img {
  width: auto;
  height: 50px;
  margin: 0 25px;
  cursor: pointer;
  vertical-align: middle;
}
body header nav .actor .search {
  border: 1px solid #eee;
  border-radius: 12px;
  height: 48px;
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #f1f5f7;
  padding-right: 25px;
}
body header nav .actor .search:hover {
  background: #e8ecee;
}
body header nav .actor .search .input-wrapper {
  width: 100%;
}
body header nav .actor .search .input-wrapper input {
  width: 100%;
  height: 40px;
  padding: 7px 19px;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  border-radius: 21px;
  box-shadow: none !important;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
body header nav .actor .search .input-wrapper input:focus {
  outline: 0;
}
body header nav .actor .search .icon-wrapper {
  cursor: pointer;
}
body header nav .actor .search .icon-wrapper .icon {
  cursor: pointer;
}
body header nav .user ul li {
  float: left;
  padding: 20px;
}
body header nav .user ul li:hover {
  background: #537895;
}
body header nav .user ul li i {
  color: #b8ebe9;
}
body main {
  flex: 1;
  display: flex;
  overflow: hidden;
}
body main .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body main .container .preview {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 8px 0;
}
body main .container .preview .empty {
  height: 100%;
  width: 500px;
  border: 2px solid #eee;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3098039216);
}
body main .container .preview .image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 80px;
  position: relative;
}
body main .container .preview .image img {
  --image-scale: 1;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 10% 10%;
  border-radius: 15px;
  transform: scale(var(--image-scale));
  transition: all 0.5s ease;
}
body main .container .preview .image img:hover {
  cursor: pointer;
}
body main .container .preview .button {
  background-color: transparent;
  border: 0;
}
body main .container .preview .button .icon {
  color: rgba(0, 0, 0, 0.4196078431);
  font-size: 80px;
}
body main .container .selector {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  box-shadow: 0px -6px 3px 0px rgba(203, 160, 160, 0.3803921569);
}
body main .container .selector .button {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding: 0;
  aspect-ratio: 1/1;
  width: 43px;
  border-radius: 9999px;
  background-color: rgb(36, 44, 70);
  color: rgb(228, 230, 238);
}
body main .container .selector .nav {
  height: 256px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 16px 0;
}
body main .container .selector .nav .image-item {
  flex: 1 0 auto;
  border-radius: 15px;
  width: 256px;
}
body main .container .selector .nav .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 10%;
  background-size: cover;
  border-radius: 15px;
}
body main .container .selector .nav .image-item:hover {
  cursor: pointer;
  box-shadow: 2px 3px 12px rgba(171, 46, 196, 0.7490196078);
  border-radius: 15px;
}
body main .container .selector .nav .image-item.active {
  border: 3px solid #8f41e9;
  filter: contrast(95%) brightness(95%) saturate(150%) sepia(25%);
  -webkit-filter: contrast(95%) brightness(95%) saturate(150%) sepia(25%);
}/*# sourceMappingURL=image-roll.css.map */